.github/**
.gitignore

.vscode/**
.vscode-test/**

images/**
!images/iis-icon.png

out/**
src/**
!src/iisexpress-schema.json

vsc-extension-quickstart.md
node_modules

**/.eslintrc.json
**/tsconfig.json
**/webpack.config.js

**/*.map
**/*.ts

