.github/**
.vscode/**
.vscode-test/**
images/**
!images/iis-icon.png
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!src/iisexpress-schema.json